<p>
    <%= f.label 'Hotel name'%><br>
    <%= f.text_field :name, class:"trip_fields" %>
</p>
<p>
    <%= f.label 'Hotel description' %><br>
    <%= f.text_area :description, class:"trip_fields texter " %>
    
</p>