<% provide(:title, "Edit trip") %>
<h1>Edit trip</h1>

<%= form_for(@trip) do |f| %>
  <%= render 'fields_edit', f: f %>
  <%= f.submit "Save changes", id:"submit" %>
<% end %>
</div>
<div class="rounds left_trip"></div>
<div class="rounds right_trip"></div>
</div>
</div>