<% provide(:title, 'Create a trip') %>
<h1>Trip details</h1>


  <%= form_for(@trip) do |f| %>
  	<%= render 'fields', f: f %>
  <%= f.submit "Create", id:"submit" %>
<% end %>
</div>
<div class="rounds left_trip"></div>
<div class="rounds right_trip"></div>
</div>
</div>