<div id="register"> 
    <p id="name_reg">Reset Password</p>
    <%= link_to "Sign in", signin_path, id: "enter_link" %>

    <%= f.password_field :password, placeholder: "Password", id: "input_fields" %>

    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", id: "input_fields" %>
  </div>

  <div id="smb"><%= submit_tag("Update Password", id: "submit") %></div> 
<% end %>        
</div>
