<footer>
  <div class="footertext">
	<span id="slogan">All inclusive for you!</span>
	<a>+38 044 222-68-70 | +38 063 243-97-67 | +38 095 289-11-11</a>
    <span id="flat">&copy Designed at flat in 2013</span>
  </div>

  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Help", help_path %></li>
  <li><%= link_to "Contacts", contacts_path %></li>
  <li><%= link_to "Terms", terms_path %></li>
</footer>